# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec
*.log
*.sqlite3
*.db
*.env
*.venv
venv/
ENV/
.env
.envrc

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Otros
*.swp
*.swo
*.bak
*.tmp

# Jupyter Notebooks
.ipynb_checkpoints/


